In [ ]:
import pandas as pd

In [ ]:
file_name = "base-data.xlsx"
exploring_actor_vial_df = pd.read_excel(io=file_name, sheet_name='ACTOR_VIAL')
exploring_vehiculos_df = pd.read_excel(io=file_name, sheet_name='VEHICULOS')

siniestros_df = pd.read_excel(io=file_name, sheet_name='SINIESTROS')
hipothesis_df = pd.read_excel(io=file_name, sheet_name='HIPOTESIS')

In [11]:
#DELETE ME LATER
hipothesis_df.shape

(233819, 3)

In [3]:
master_df = exploring_actor_vial_df


master_df

,CODIGO_ACCIDENTE,CODIGO_ACCIDENTADO,FECHA,CONDICION,ESTADO,EDAD,SEXO,VEHICULO
0,4401447,2452576,01/01/2015,CONDUCTOR,ILESO,44,FEMENINO,4401447-1
1,4401447,2452577,01/01/2015,CONDUCTOR,ILESO,31,MASCULINO,4401447-2
2,4401453,2452586,01/01/2015,CONDUCTOR,ILESO,47,MASCULINO,4401453-1
3,4401453,2452587,01/01/2015,CONDUCTOR,ILESO,29,MASCULINO,4401453-2
4,4401423,2452500,01/01/2015,CONDUCTOR,HERIDO,44,MASCULINO,4401423-1
...,...,...,...,...,...,...,...,...
422411,10530492,12728799,31/12/2020,CONDUCTOR,ILESO,27,MASCULINO,10530492-2
422412,10530494,12728800,31/12/2020,CONDUCTOR,ILESO,39,MASCULINO,10530494-1
422413,10530494,12728801,31/12/2020,CONDUCTOR,ILESO,55,MASCULINO,10530494-2
422414,10530493,12728802,31/12/2020,CONDUCTOR,ILESO,55,MASCULINO,10530493-1
422415,10530493,12728803,31/12/2020,CONDUCTOR,ILESO,25,MASCULINO,10530493-2

In [ ]:
actor_vehiculos_df = master_df.merge(exploring_vehiculos_df, on='VEHICULO', how='left')
actor_vehiculos_df

In [ ]:
#actor_vehiculos_df

actor_vehiculos_df.VEHICULO.value_counts()#[:n].index.array

In [ ]:
#exploring_actor_vial_df.VEHICULO.filter(isnull())

actor_vehiculos_df[actor_vehiculos_df.isna().any(axis=1)]

In [ ]:
actor_vehiculos_siniestros_df = actor_vehiculos_df

actor_vehiculos_siniestros_df['CODIGO_ACCIDENTE'] = actor_vehiculos_siniestros_df['CODIGO_ACCIDENTE_x']
actor_vehiculos_siniestros_df

In [ ]:

actor_vehiculos_siniestros_df = actor_vehiculos_df.merge(siniestros_df, on='CODIGO_ACCIDENTE')

actor_vehiculos_siniestros_df

In [ ]:
prepared_df = actor_vehiculos_siniestros_df 
prepared_df

In [ ]:

prepared_df = actor_vehiculos_siniestros_df.drop(["CODIGO_ACCIDENTE_x", "CODIGO_ACCIDENTE_y", "FECHA_y",  ], axis=1)

prepared_df

#print(prepared_df.columns.tolist())

In [ ]:
prepared_df